<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="amazon_pay" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="advanced" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <group id="hyva_checkout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Hyva Checkout</label>
                        <field id="script_attributes" translate="Script Attributes" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Script Attributes (JSON)</label>
                            <comment><![CDATA[Here you can add additional attributes to the script tag. This makes it easier to reach GDPR compliance.<br><br>Example:<br>{<br>&nbsp;&nbsp;&nbsp;&nbsp;"type": "text/plain",<br>&nbsp;&nbsp;&nbsp;&nbsp;"cmdVendor": "123"<br>}]]></comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
